html {
    --color-background: #020202;
    --color-foreground: #D6E3F8;
    --color-accent:     #786452;
    overflow-x: hidden;
}
* {
    text-decoration: none;
    color: var(--color-foreground);
    background-color: var(--color-background);
    background: var(--color-background);
}
body {
    margin: 0 auto;
    max-width: 700px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 10px 50px 10px;
}
::selection {
    color: var(--color-background); 
    background: var(--color-foreground);
}
img {
    max-width: 100%;
    height: auto;
}

header { margin: 10px 0% 10px 0%; }
h1, h2, h3 { margin-bottom: -10px; }
h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
pre { width: 100%; white-space: pre-wrap; }
a { color: var(--color-accent); }
a:hover { color: var(--color-accent); }
table td {
    padding: 5px;
    border: solid 1px var(--color-accent);
}
table th {
  background-color: var(--color-foreground);
  color: var(--color-background);
}
hr {
  border: 2px solid var(--color-accent);
}
